.btn {
   padding: 10px 20px;
   font-size: 13px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: #fff;
   background-color: #1464ce;
   border: none;
   border-radius: 15px;
   box-shadow: 0 2px #999;
 }
 form {
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;  
  }